
:root{
    --A-pricinpal: #61f2f5;
    --B-principal: #434a54;
    --C-Principal: #e6e9ed;
    --D-principal: #656d78;
    --E-principal: #ccd1d9;
    --F-principal: #23282d;

    /* SSecundarios */
    --A-secundario: #ac92ec; 
    --B-secundario: #a0d468;

    /* Fonts */
    --Fuentes-primario: ;
    --Fuentes-segundario: ;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

header nav{
   width: 100%;
   height: 10vh;
   background-color: var(--B-secundario);
   display: flex;
   justify-content: end;
   align-items: center;
   min-width: 320px;
}

.nav-ul--icon{
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.nav-ul--icon li{
    width: 20px;
    height: 20px;
    list-style: none;
}

.nav-ul--icon li a img{
    width: 20px;
    height:20px;
    object-fit: cover;
}

picture{
    width: 150px;
    height: 30px;
}

.header-menu{
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

picture img{
    width: 140px;
    height: 30px;
    object-fit: cover;
}

.header-menu li{
    list-style: none;
}
.header-menu li a{
    color: var(--B-principal);
   font-family: 'Inter', sans-serif;
}

.header-section{
    width: 100%;
    min-width: 320px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--C-principal);
}

.header-section span{
    width: 90%;
    align-self: center;
}

.header-section span h3{
    margin-top: 20px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.header-section picture{
    width: 300px;
    height: 200px;
}

.header-section picture img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.header-section .section-text{
    width: 90%;
    align-self: center;
    margin: 10px 0;
}

.header-section .section-text h1{
    font-size: 25px;
    margin-bottom: 5px;
    font-family: 'Roboto Mono', monospace;
}

.header-section .section-text p{
    font-size: 13px;
    line-height: 18px;
}

.header-section button{
    width: 150px;
    height: 40px;
    border: 2px solid var(--B-secundario) ;
    margin: 0 0 20px;
    background-color:  var(--C-principal) ;
}

button a{
    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: var(--B-principal);
}

button:hover{
    cursor: pointer;
    background-color: var(--B-secundario);
}

/* Main */


 main{
    min-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main-last-news{
    width: 90%;
    margin: 30px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--B-principal);
}

main .main-last-news h3{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

main .main-blog-post{
    min-width: 200px;
    max-width: 370px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main-blog-post .blog-post--cover{
    margin-bottom: 10px;
    width: 100%;
    height: 150px;
    background-size: cover;
}

.cover1{
    background-image: url("/Asset/img/post-1.png");
}

.cover2{
    background-image: url("/Asset/img/post-2.png");
}

.cover3{
    background-image: url("/Asset/img/post-3.png");
}

.cover4{
    background-image: url("/Asset/img/post-1.png");
}

.cover5{
    background-image: url("/Asset/img/post-2.png");
}

.cover6{
    background-image: url("/Asset/img/main-news-img.png");
}

main .main-blog-post .blog-post--text{
    width: 100%;
    height: auto;
}

main .main-blog-post .blog-post--text h3{
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
}

main .main-blog-post .blog-post--text p{
    font-size: 14px;
    margin-bottom: 5px;
}

main .main-blog-post button{
    align-self: flex-end;
    width: 80px;
    height: 30px;
    border: 2px solid var(--B-secundario) ;
    margin: 0 0 40px;
    background-color: #ffffff ;
}


main .main-blog-post button:hover{
    cursor: pointer;
    background-color: var(--B-secundario);
}

footer{
    min-width: 320px;
    display: flex;
    align-items: flex-end;
    height: 50px;
    background-color: var(--B-secundario);
}

footer div{
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: var(--B-principal);
}

footer div p{
    margin-top: 10px;
    font-size: 9px;
    font-family: 'Roboto Mono', monospace;
}