:root{
    --A-pricinpal: #61f2f5;
    --B-principal: #434a54;
    --C-Principal: #e6e9ed;
    --D-principal: #656d78;
    --C-principal: #ccd1d9;
    --D-principal: #23282d;

    /* SSecundarios */
    --A-secundario: #ac92ec; 
    --B-secundario: #a0d468;

    /* Fonts */
    --Fuentes-primario: ;
    --Fuentes-segundario: ;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    min-width: 320px;
}

header nav{
   width: 100%;
   height: 10vh;
   background-color: var(--B-secundario);
   display: flex;
   justify-content: end;
   align-items: center;
   min-width: 320px;
}

.nav-ul--icon{
    display: flex;
    gap: 10px;
    margin-right: 30px;
}

.nav-ul--icon li{
    width: 20px;
    height: 20px;
    list-style: none;
}

.nav-ul--icon li a img{
    width: 20px;
    height:20px;
    object-fit: cover;
}

picture{
    width: 150px;
    height: 30px;
}

.header-menu{
    min-width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

picture img{
    width: 140px;
    height: 30px;
    object-fit: cover;
}

.header-menu li{
    list-style: none;
}
.header-menu li a{
    color: var(--B-principal);
   font-family: 'Inter', sans-serif;
}

main{
    min-width: 320px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

main .main-section--image{
    margin-bottom: 20px;
}

main .main-section--image picture{
    width: 300px;
    height: 100px;
}

main .main-section--image picture img{
    width: 300px;
    height: 100px;
    object-fit: cover;
}


main .main-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}


main .main-article .title-section{
    width: 90%;
    border-bottom: 1px solid var(--B-principal);
    margin-bottom: 20px;
}

main .main-article .title-section h3{
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}

main .main-article .article-news{
    width: 90%;
    height: auto;
}

main .main-article .article-news h1{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-bottom: 15px;
}

main .main-article .article-news p{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}


.contact-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
    height: 170px;
    background-color: var(--C-Principal);
}

.contact-section .carta{
    width: 90%;
    display: flex;
    align-self: center;
    gap: 8px;
}

.contact-section .carta picture{
    width: 40px;
    height: 40px;
}

.contact-section .carta picture img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.contact-section .carta p:first-child a{
    color: var(--B-principal);
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;;
}

.contact-section .carta p:nth-child(2){
    color: var(--D-principal);
    font-size: 12px;
    font-family: 'Quicksand', sans-serif
}


 footer{
    width: 100%;
    min-width: 320px;
    height: auto;
    margin-top: 40px;
    background-color: var(--B-secundario);
    text-align: center;
}


footer .footer-copyright p{
    padding: 20px 0 20px;
    font-size: 9px;
    font-family: 'Roboto Mono', monospace;
}