
:root{
    --A-pricinpal: #61f2f5;
    --B-principal: #434a54;
    --C-Principal: #e6e9ed;
    --D-principal: #656d78;
    --E-principal: #ccd1d9;
    --F-principal: #23282d;

    /* SSecundarios */
    --A-secundario: #ac92ec; 
    --B-secundario: #a0d468;

    /* Fonts */
    --Fuentes-primario: ;
    --Fuentes-segundario: ;

}

/* 

font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;

font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;

font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;

 */


 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 header{
     width: 100%;
     min-width: 320px;
  background-color: #23282d;
  header: 100vh;
 }

 header nav{
    width: 100%;
    height: 10vh;
    background-color: var(--B-secundario);
    display: flex;
    justify-content: end;
    align-items: center;
 }

 .nav-ul--icon{
     display: flex;
     gap: 10px;
     margin-right: 30px;
 }

 .nav-ul--icon li{
     width: 20px;
     height: 20px;
     list-style: none;
 }

 .nav-ul--icon li a img{
     width: 20px;
     height:20px;
     object-fit: cover;
 }

 .header-section{
     width: 100%;
     height: 90vh;
     background-image: url("/Asset/img/new-banner.jpg");
     background-size: cover;
     background-position: center;
     text-align: center;
 }

 
 .header-menu{
     display: flex;
     justify-content: space-between;
     padding: 30px 20px;
 }

 picture{
    width: 150px;
    height: 30px;
}

  picture img{
     width: 140px;
     height: 30px;
     object-fit: cover;
 }

 .header-menu li{
     list-style: none;
 }
 .header-menu li a{
     color: var(--C-Principal);
    font-family: 'Inter', sans-serif;
 }

 .header-section .section-text{
     width: 80%;
     margin: 0 auto;
 }

 .header-section .section-text h1{
    color: var(--A-pricinpal);
    font-size: 25px;
     font-family: 'Roboto', sans-serif;
     margin-top: 150px;
 }


 .header-section .section-text button{
     margin-top: 20px;
     width: 100px;
     height: 40px;
     border: none;
     background-color: var(--B-secundario);
 }

 .header-section button:hover{
    cursor: pointer; 
    background-color: var(--E-principal); 
   }
  

 .header-section button a{
     text-decoration: none;

 }

