

@media (min-width: 425px) {

    
    main .main-section--image{
       width: 90%;
    }

    main .main-section--image picture{
        width: 100%;
        height: 150px;
    }
    
    main .main-section--image picture img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    
}

@media (min-width: 700px) {

    main{
        width: 100%;
        display: flex;
        flex-direction: row;
    }

     main .main-section--image picture{
         padding-left: 10px;
        width: 100%;
        height: 500px;
     }
     
     main .main-section--image picture img{
         width: 100%;
         height: 500px;
         object-fit: cover;
        
     }

     main .main-article {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 520px;
     }

     .contact-section{
        flex-direction: row;
        padding: 0 60px;
     }

     .contact-section .carta{
         width: 90%;
     }

        footer .footer-section {
            flex-direction: row;
            align-items: center;
            height: 140px;
         }
         
         footer span p{
            font-size: 18px;
        }
}

@media (min-width: 1024px){

    .nav-ul--icon li{
        width: 30px;
        height: 30px;
        list-style: none;
    }
   
    .nav-ul--icon li a img{
        width: 30px;
        height:30px;
        object-fit: cover;
    }

    picture{
        width: 190px;
        height: 50px;
    }
    
      picture img{
         width: 190px;
         height: 50px;
     }

    main{
        padding-bottom: 20px;
    }

    main .main-section--image picture{
        padding-left: 10px;
       width: 470px;
       height: 500px;
    }
    
    main .main-section--image picture img{
        width: 470px;
        height: 500px;
        object-fit: cover;
       
    }

    main .main-article .title-section h3{
        font-size: 20px;
        font-family: 'Inter', sans-serif;
    }

    main .main-article .article-news h1{
        font-size: 28px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 15px;
    }
    
    main .main-article .article-news p{
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }


    .contact-section{
        flex-direction: row;
        justify-content: center;
    }

    main .contact-section .carta{
       margin: 0 auto;
    }

    footer .footer-copyright p{ 
        font-size: 20px;
    }
}



@media (min-width: 1287px){

    main .main-section--image picture{
        padding-left: 10px;
        width: 100%;
        height: 500px;
     }
     
     main .main-section--image picture img{
         width: 100%;
         height: 500px;
         object-fit: cover;
        
 }
}

@media (min-width: 1825px) {
    main .main-section--image picture{
        padding-left: 10px;
       width: 100%;
       height: 500px;
    }
    
    main .main-section--image picture img{
        width: 100%;
        height: 500px;
        object-fit: cover;
       
    }
}