
@media (min-width: 700px) {

    .header-section .section-text{
        width: 80%;
        height: 70px;
    }
    .header-section .section-text h1{
        font-size: 40px;
     }
}

@media (min-width: 1024px) {

    header nav{
        justify-content: end;
     }

    .nav-ul--icon li{
        width: 30px;
        height: 30px;
        list-style: none;
    }
   
    .nav-ul--icon li a img{
        width: 30px;
        height:30px;
        object-fit: cover;
    }

    picture{
        width: 190px;
        height: 50px;
    }
    
      picture img{
         width: 190px;
         height: 50px;
     }
    

     .header-menu li a{
        color: var(--C-Principal);
       font-family: 'Inter', sans-serif;
       font-size: 25px;
    }
   

    .header-section{
        display: flex;
        flex-direction: column;
    }

    .header-section .section-text h1{
        font-size: 46px;
     }

     .header-section .section-text button{
        margin-top: 20px;
        width: 130px;
        height: 40px;
    }

     .header-section .section-text button a{
        text-decoration: none;
        color: var(--B-principal);
        font-size: 20px;
    }
}


@media (min-width: 1440px){

    .header-section .section-text{
       display: inline-block;
       margin-top: 290px;
    }

    .header-section .section-text h1{
        margin: 0;
     }   
}