@media(min-width: 400px){

    header .personal-section picture{
        width: 90%;
        height: 150px;
    }
    
    header .personal-section picture img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    header .personal-section article{
        width: 90%;
        height: auto;
    }

    main .main-blog-post .blog-post--cover{
        background-size: cover;
        background-position: center;
    }
}


@media (min-width: 600px ) {
        header .personal-section{
        width: 100%;
        height: auto;
        gap: 20px;
        padding: 50px 25px;
        background-color: var(--D-principal);
}

main .main-blog-post{
    margin: 0 auto;
  } 
    main .main-last-news{
        grid-column-start: 1;
        grid-column-end: 3 ;
    }
    main .main-blog-post{
        width: 90%;
        height: auto;
    }

        
    .contact-section{
        flex-direction: row;
        padding: 0 60px;
     }

     .contact-section .carta{
         width: 90%;
     }

        footer .footer-section {
            flex-direction: row;
            align-items: center;
            height: 140px;
         }
         
         footer span p{
            font-size: 18px;
        }
}



@media (min-width: 1000px){


    header nav{
        justify-content: end;
     }
    header .personal-section picture{
        width: 90%;
        height: 290px;
    }
    
    header .personal-section picture img{
        width: 100%;
        height: 290px;
        object-fit: cover;
    }

    .nav-ul--icon li{
        width: 30px;
        height: 30px;
        list-style: none;
    }
   
    .nav-ul--icon li a img{
        width: 30px;
        height:30px;
        object-fit: cover;
    }

    picture{
        width: 190px;
        height: 50px;
    }
    
      picture img{
         width: 190px;
         height: 50px;
     }
    

     .header-menu li a{
       font-size: 25px;
    }

    header .personal-section article h1{
        font-size: 32px;
    }
    
    header .personal-section article p{
        font-size: 18px;
    }

    main .main-last-news p{
        font-size: 20px;
        font-weight: bold;
    }

    main .main-blog-post .blog-post--text{
        width: 70%;
    }
    main .main-blog-post .blog-post--text h3{
        font-size: 20px;
    }
    
    main .main-blog-post .blog-post--text p{
        font-size: 18px;
    }
   
    main .main-blog-post{
        width: 90%;
        height: auto;
    }

    main .main-blog-post .blog-post--a{
        align-self: center
    }

    main .main-blog-post .blog-post--a a{
        font-size: 18px;
    }

    .contact-section{
        flex-direction: row;
        justify-content: center;
    }

    main .contact-section .carta{
       margin: 0 auto;
    }

    footer .footer-copyright p{ 
        font-size: 20px;
    }
}